<!DOCTYPE html>
<html>
<head lang="en">
    <title> Home </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="css/xcharts.min.css"/>
    <style>
        table.rates {
            width: 100%;
        }
        .red {
            color: red;
        }
        .green {
            color: green;
        }
        #tt {
            background: #eee;
            border-radius: 3px;
            padding: 5px;
            position: absolute;
        }
    </style>
</head>
<body>

<h1>Currency Exchange Rates</h1>

<div>
    <label>Category:
    <select id="category" name="category">
        <option value="DEPOSIT_PAYMENTS">Deposit Payments</option>
        <option value="DEBIT_CARDS_TRANSFERS" selected="selected">Debit Cards Transfers</option>
        <option value="DEBIT_CARDS_OPERATIONS">Debit Cards Operations</option>
        <option value="SAVING_ACCOUNT_TRANSFERS">Saving Account Transfers</option>
    </select></label>

    Currency:
    <label><input type="checkbox" value="USD/RUB" class="currencyPair"/>USD/RUB</label>
    <label><input type="checkbox" value="EUR/RUB" class="currencyPair"/>EUR/RUB</label>
    <label><input type="checkbox" value="EUR/USD" class="currencyPair"/>EUR/USD</label>
    <label><input type="checkbox" value="GBP/RUB" class="currencyPair"/>GBP/RUB</label>
</div>

<div id="root">

    <table class="rates">
        <tr>
            <th>Bank</th>
            <th>Time</th>
            <th>Category</th>
            <th>Currency Pair</th>
            <th>Buy</th>
            <th>Sell</th>
            <th>Spread</th>
            <th>Created</th>
        </tr>
    </table>

</div>

<script type="text/template" id="tpl-rate">
    <tr id="rate_<%- fromCurrency.toLowerCase() %>_<%- toCurrency.toLowerCase() %>" class="rate">
        <td> <%- bankName %> </td>
        <td> <%- bankTime %> </td>
        <td> <%- category %> </td>
        <td> <%- fromCurrency %>/<%- toCurrency %> </td>
        <td> <span class="<%- buyDiff == 'greater' ? 'green' : (buyDiff == 'less' ? 'red' : '') %>"> <%- buy %> </span> </td>
        <td> <span class="<%- sellDiff == 'greater' ? 'green' : (sellDiff == 'less' ? 'red' : '') %>"> <%- sell %> </span> </td>
        <td> <%- spread %> </td>
        <td> <%- created %> </td>
    </tr>
</script>

<script type="text/template" id="tpl-chart">
    <div id="chart_<%- id %>">
        <label><input type="radio" name="period_<%- id %>" value="day" checked="checked"/>Day</label>
        <label><input type="radio" name="period_<%- id %>" value="week"/>Week</label>
        <label><input type="radio" name="period_<%- id %>" value="month"/>Month</label>
        <!--<label><input type="radio" name="period_<%- id %>" value="custom"/>Custom</label>-->

        <figure style="height: 300px;"></figure>
    </div>
</script>

<script type="application/javascript" src="js/vendor/d3.min.js"></script>
<script type="application/javascript" src="js/vendor/jquery-min.js"></script>
<script type="application/javascript" src="js/vendor/stomp.min.js"></script>
<script type="application/javascript" src="js/vendor/underscore-min.js"></script>
<script type="application/javascript" src="js/vendor/xcharts.min.js"></script>
<script type="application/javascript" src="js/currency-watcher.js"></script>
<script type="application/javascript">

    var contextPath = '';

    var pageModel = {
        currencyPairs: [],
        category: null,
        rates: []
    };

    var storage = new StorageWrapper();

    function initPageModel() {
        pageModel.currencyPairs = storage.loadCurrencyPairs();
        pageModel.category = $('select[name=category]').val();
    }

    function isCategorySelected(category) {
        //return $('select[name=category]').val() === category;
        return pageModel.category === category;
    }

    /**
     * Returns true if currency pair selected by user
     */
    function isCurrencyPairSelected(fromCurrency, toCurrency) {
        //return $('#' + fromCurrency.toLowerCase() + '_' + toCurrency.toLowerCase()).is(':checked');
        var currencyPair = fromCurrency + '/' + toCurrency;
        return $.inArray(currencyPair, pageModel.currencyPairs) >= 0;
    }

    /**
     * Initializes chart for given currency pair
     */
    function initChart(currencyPair) {
        var suffix = currencyPair.replace('/', '_').toLowerCase();
        var fromCurrency = currencyPair.split('/')[0];
        var data = {
            xScale: 'ordinal',
            yScale: 'linear',
            main: [{
                className: '.' + fromCurrency.toLowerCase() + '.sell',
                data: []
            }, {
                className: '.' + fromCurrency.toLowerCase() + '.buy',
                data: []
            }]
        };
        var opts = {
            interpolation: 'linear',
            dataFormatX: function(x) { return d3.time.format('%d.%m.%Y %H:%M:%S').parse(x); },
            tickFormatX: function(x) { return d3.time.format('%d.%m.%y %H:%M')(x); },
            mouseover: function (d, i) {
                var pos = $(this).offset();
                $('#tt').text(d3.time.format('%d.%m.%y %H:%M')(d.x) + ', ' + d.label + ': ' + d.y.toFixed(2))
                        .css({ top: pos.top - 32, left: pos.left})
                        .show();
            },
            mouseout: function() {
                $('#tt').hide();
            }
        };

        var chartTpl = _.template( $('#tpl-chart').html() );

        $('#root').append( chartTpl( { id: suffix } ) );

        var chart = new xChart('line-dotted', data, '#chart_' + suffix + ' figure', opts);

        var $inputs = $('#chart_' + suffix + ' input[name=period_' + suffix + ']');
        $inputs.on('change', function(event) {
            var $input = $(event.target);
            if ($input.is(':checked')) {
                updateChart(chart, currencyPair, $input.val());
            }
        });

        var period = $inputs.filter(':checked').val();

        updateChart(chart, currencyPair, period);

        var tt = $('#tt');
        if (tt.length == 0) {
            tt = $('<div id="tt"/>');
        }
        $('body').append(tt);

        return chart;
    }

    function updateChart(chart, currencyPair, period) {
        var params = {
            currencyPair: currencyPair,
            category: pageModel.category,
            period: period
        };
        $.get(contextPath + '/api/currencypairrates', params, function(response) {
            var fromCurrency = currencyPair.split('/')[0];
            var buyData = [];
            var sellData = [];
            $.each(response, function(index, rate) {
                buyData.push({x: rate.dateTime, y: parseFloat(rate.buy.replace(',', '.')), label: fromCurrency + ' BUY'});
                sellData.push({x: rate.dateTime, y: parseFloat(rate.sell.replace(',', '.')), label: fromCurrency + ' SELL'});
            });
            var data = {
                xScale: 'ordinal',
                yScale: 'linear',
                main: [{
                    className: '.' + fromCurrency.toLowerCase() + '.sell',
                    data: sellData
                }, {
                    className: '.' + fromCurrency.toLowerCase() + '.buy',
                    data: buyData
                }]
            };
            chart.setData(data);
        });
    }

    $(function() {

        initPageModel();

        var currencyPairInputs = $('input[type=checkbox].currencyPair');
        currencyPairInputs.each(function() {

            var $input = $(this);
            if ($.inArray($input.val(), pageModel.currencyPairs) >= 0) {
                $input.attr('checked', 'checked');
                initChart($input.val());
            }

        });
        currencyPairInputs.on('change', function(event) {
            var $input = $(event.target);
            if ( $input.is(':checked') ) {
                client.send('/queue/category', null, pageModel.category);
                initChart($input.val());
            } else {
                var suffix = $input.val().replace('/', '_').toLowerCase();
                $('#rate_' + suffix).remove();
                $('#chart_' + suffix).remove();
            }
            currencyPairsChanged(event);
        });

        var client = Stomp.client('ws://' + window.location.host + contextPath + '/api/asyncrates');

        /**
         * Asks to update rates for given category
         */
        function askUpdateCategoryRates(category) {
            $('table.rates tr.rate').remove();
            client.send('/queue/category', null, category);
        }

        var rateTpl = _.template( $('#tpl-rate').html() );

        function categoryRatesUpdated(m) {
            var rates = JSON.parse(m.body);
            $.each(rates, function(index, rate) {

                if ( isCategorySelected(rate.category) && isCurrencyPairSelected(rate.fromCurrency, rate.toCurrency) ) {
                    $('#rate_' + rate.fromCurrency.toLowerCase() + '_' + rate.toCurrency.toLowerCase()).remove();
                    $('table.rates').append( rateTpl( rate ) );
                }

            });
        }

        function onConnect() {
            var $selectEl = $('select[name=category]');
            $('option', $selectEl).each(function() {
                var value = $(this).attr('value');
                if (value != '') {
                    client.subscribe('/topic/category/' + value.toLowerCase(), categoryRatesUpdated);
                }
            });

            client.send('/queue/category', null, $selectEl.val());

            $selectEl.on('change', function(event) {
                pageModel.category = $(event.target).val();
                askUpdateCategoryRates(pageModel.category);
            });
        }

        function onError(error) {
            console.log(error);
        }

        client.connect('login', 'passcode', onConnect, onError);
    });

    function currencyPairsChanged(event) {
        var $input = $(event.target);
        var currencyPair = $input.val();
        if ($input.is(':checked')) {
            pageModel.currencyPairs = storage.addCurrencyPair(currencyPair);
        } else {
            pageModel.currencyPairs = storage.removeCurrencyPair(currencyPair);
        }
        console.log('Currency pairs:', pageModel.currencyPairs);
    }

</script>
</body>
</html>